body{
    padding: 0;
    margin: 0;
    background: #0a85e4;
    
}
.about-me{
    text-align: center;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
    
    
}
span{
    color: white;
}


    
    
    
    




