body{
    padding: 0;
    margin: 0;
    background-color: black;
}
.elementcenter{
    color: azure;
    text-align: center ;
    margin-top: 250px;
    font-size: 2rem;
    font-weight: 500;

    

}
.btn-btn{
    height: 50px;
    width: 150px;
    border-radius: 30px;
    border: none;
    background-color:  #333;
    font-weight: 900;
    color: aliceblue;
    
    
}
.btn-btn:hover{
    background-color:  #4caf78;
    transition: 1s;
    font-style: strong;
}
a{
    text-decoration: none;
    color: aliceblue;
}
.buttonn{
    text-align: center;
    padding-top: 5rem;
}